@media screen and (max-width: 1200px) {
  #hero h1 {
    font-size: 2.4rem;
  }
  #hero p {
    font-size: 0.8rem;
  }
  #hero img {
    width: 400px;
  }
  .dcv {
    margin-left: 8px;
    font-size: 0.7rem;
  }

  .grid {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
  }

  #project img {
    width: 490px;
    margin: 10px;
  }
}

@media screen and (max-width: 1024px) {
  /*Hero*/
  .dcv {
    margin-left: 8px;
    font-size: 0.7rem;
  }
  #hero img {
    width: 375px;
  }
  .profil {
    margin-top: 85px;
  }
  /*Skills and Tools*/
  #skillstools .card_bottom {
    margin-top: 140px;
    margin-bottom: 250px;
    margin-bottom: 10px;
  }
  #skillstools .card {
    margin-top: 30px;
    bottom: 50px;
  }
  #skillstools h1 {
    margin-top: 120px;
  }
  #skillstools .logo_1 img {
    width: 18%;
    margin-left: 1px;
    margin-right: 1px;
  }
  #skillstools .logo_2 img {
    margin-left: 25px;
    margin-right: 25px;
    width: 30%;
  }
  /*Project*/
  .grid {
    margin: 200px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: center;
    margin-top: 40px;
  }

  #project img {
    width: 500px;
    margin: 20px;
  }
  /*Skill and Tool*/
}

@media screen and (max-width: 768px) {
  /* Hero */
  #hero .dcv {
    font-size: 0.6rem;
    color: #ffffff;
    margin: 150px;
  }
  .btn1 {
    width: 70%;
  }

  #hero .row {
    padding-bottom: 150px;
  }

  .social-icon {
    left: 60%;
    transform: translate(-80%);
  }
  section h1 {
    margin-top: 30px;
  }

  /*About */
  #aboutme h1 {
    font-size: 2.4rem;
  }
  #aboutme p {
    text-align: justify !important;
    font-size: 0.9em;
  }

  /*Skills and Tools*/
  #skillstools .card_bottom {
    margin-top: 40px;
    margin-bottom: 120px;
    margin-left: 70px;
  }
  #skillstools .card {
    margin-top: 1px;
    left: 35px;
  }
  #skillstools h1 {
    margin-top: 100px;
    font-size: 2.4rem;
  }
  #skillstools .logo_1 img {
    width: 18%;
    margin-left: 1px;
    margin-right: 1px;
  }
  #skillstools .logo_2 img {
    margin-left: 25px;
    margin-right: 25px;
    width: 30%;
  }

  /*Project*/
  #project img {
    width: 500px;
    margin: 20px;
  }
  #project h1 {
    font-size: 2.4rem;
  }
  .grid {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: center;
    margin-top: 40px;
  }

  /*Footer*/
  .footer-social-icon {
    text-align: center;
  }

  .footer_name {
    text-align: center;
  }
  .footer_email {
    text-align: center;
  }
  /*Certificate*/
  #certificate {
    min-height: 500px;
  }
  #certificate h1 {
    font-size: 2.4rem;
  }
  #certificate p {
    font-size: 0.8rem;
  }
  #certificate .certif img {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {
  /*Hero*/
  #hero img {
    width: 300px;
  }
  #hero .dcv {
    font-size: 0.6rem;
    color: #ffffff;
    margin: 120px;
  }
  /*About Me*/
  #aboutme p {
    text-align: justify !important;
    font-size: 0.8em;
  }
  #aboutme {
    min-height: 350px;
  }
  #aboutme h1 {
    font-size: 2.4rem;
  }
  /*Project*/
  #project img {
    width: 370px;
    margin: 10px;
  }
  .grid {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: center;
  }
  /*Skills and Tools*/
  #skillstools {
    min-height: 400px;
  }
  #skillstools h1 {
    font-size: 2.4rem;
    margin-top: 30px;
  }
  #skillstools .card_bottom {
    margin-top: 10px;
    margin-bottom: 120px;
    margin-left: 0px;
  }
  #skillstools .card {
    margin-top: 1px;
    left: 0px;
  }
  /*Certificate*/
  #certificate {
    min-height: 500px;
  }
  #certificate h1 {
    font-size: 2.4rem;
  }
  #certificate p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 390px) {
  #hero img {
    width: 350px;
  }
  #hero .dcv {
    font-size: 0.6rem;
    color: #ffffff;
    margin: 100px;
  }
}
